
.iconn{
  width: 50%;
}
.lang{
  text-align: center;
  font-weight: bold;
}
#htmll{
  position: relative;
  top: -10px;
}
.htext{
  position: relative;
  top: -30px;
}
#phoneicon:hover{
 opacity: 0.5;
}
#emailicon:hover{
   opacity: 0.5;
}
.back{
  position: fixed;
}
#kick{
  position: relative;
  float: left;
}
#cfoot{
  position: relative;
  top: 300px;
  height: 50px;
  left: 20px;
  text-align: left;
  float: left;
}
#ccontact{
  float: left;
  position: relative;
  left: 50px;
  top: 20px;
}
.main{
  background-color: lightslategrey;
  height: 100%;
}